.container {
  display: none;
}
.overviewContainer {
  margin-bottom: 2rem;
}

.mediaDetails.active {
  animation: fade var(--fade-animation);
}

.list,
.attributesList {
  padding-left: 0;
  display: flex;
}

.attributesList {
  flex-wrap: wrap;
  row-gap: 2rem;
}

.listItem {
  list-style: none;
  width: 160px;
  margin-right: 0.5rem;
}

.heading {
  text-transform: uppercase;
  font-weight: var(--fw-med);
  margin-bottom: 0.5rem;
}

.releaseDate,
.certification {
  width: 165px;
}

@media (min-width: 48em) {
  .container {
    display: block;
    width: 93.75%;
    margin: 1rem auto 3rem;
  }

  .tabs {
    border-bottom: var(--input-active);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1.5rem;
  }

  .detailsContainer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
}

@media (min-width: 75em) {
  .overviewContainer {
    margin-bottom: none;
  }
  .mediaDetails {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    justify-content: flex-end;
  }

  .list {
    margin-top: 0;
  }

  .attributesList {
    display: flex;
  }
  .container {
    margin: 0 2.25rem 3rem 11rem;
    width: unset;
    position: relative;
    z-index: 5;
  }

  .tabs {
    gap: 2.5rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
