@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.posterWrapper {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border-radius: $border-radius-s;
  width: 110px;
  height: 165px;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #1c4b6f, #112c40);
  @include tablet {
    width: 160px;
    height: 240px;
  }
}
