@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.posterWrapper {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border-radius: variable.$border-radius-s;
  min-width: 110px;
  min-height: 165px;
  min-height: 165px;
  box-shadow: 0px 20px 20px 0px rgba(6, 6, 6, 0.3);

  @include mixins.tablet {
    min-width: 160px;
    min-height: 240px;
    max-height: 240px;
  }
}
