.container {
  margin: 0 auto;
  width: 90%;
}

.ratingContainer {
  margin-bottom: 2rem;
}

@media (min-width: 48em) {
  .container {
    display: none;
  }
  .ratingContainer {
    display: none;
  }
}
