@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.outerWrapper {
  background: linear-gradient(90deg, var(--quinary-gradient));
  position: relative;
}

.container {
  @include mixins.center;
  position: relative;
  z-index: variable.$z-index-2;
  padding-block: 4rem;
  max-width: 900px;
  @include mixins.tablet {
    padding-bottom: 4rem;
  }

  & > h1 {
    font-weight: variable.$fw-bold;
  }
  & > p {
    margin-top: 1rem;
  }

  & div h2 {
    white-space: nowrap;
  }
}

.panelOuterContainer {
  @include mixins.center;
  width: 100%;
  @include mixins.flex-column;
  gap: 2.5rem;
  background-color: var(--tertiary-dark);
  border-radius: variable.$border-radius-s;
  padding: 2rem;
  @include mixins.tablet {
    padding: 2rem 6rem;
  }

  @include mixins.tabletL {
    @include mixins.flex-row;
    padding: 1.5rem 2.5rem;
    min-height: 292.5px;
  }
}

.panelInner {
  @include mixins.flex-column;
  justify-content: center;
  & > h2 {
    font-family: Outfit;
  }
  @include mixins.tabletL {
    min-width: 264px;
    max-width: 264px;
  }
}

.panelInner p {
  color: var(--quinary);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 102%;
  z-index: variable.$z-index-1;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(23, 24, 27, 0) 0%, hsl(210, 38%, 6%) 80%);
}
