@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.main {
  padding-bottom: 4rem;
  background: linear-gradient(90deg, var(--quaternary-gradient));
}

.container,
.panelContainer {
  max-width: 900px;
}

.container {
  @include mixins.center;
  padding-top: 8rem;

  @include mixins.tablet {
    padding-top: 6rem;
  }

  & > h1 {
    @include mixins.removeHeadingEllipses;
  }

  & > p {
    margin-top: 1rem;
  }
}

.panelContainer {
  margin: 2rem 0 4rem;
  width: 100%;
  @include mixins.flex-column;
  gap: 2.5rem;
  background-color: var(--tertiary-dark);
  border-radius: variable.$border-radius-s;
  padding: 2rem;
  @include mixins.tabletL {
    @include mixins.flex-row;
    padding: 2.5rem;
  }

  & .panelInner p {
    color: var(--quinary);
  }
}
