@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.main {
  padding-bottom: 4rem;
}

.container,
.panelContainer {
  max-width: 900px;
}

.container {
  @include mixins.center;
  margin-top: 5rem;
}

.panelContainer {
  margin-top: 2rem;
  width: 100%;
  @include mixins.flex-column;
  gap: 1rem;
  background: linear-gradient(90deg, variable.$secondary-gradient);
  border-radius: variable.$border-radius-s;
  padding: 2rem;
  @include mixins.tablet {
    @include mixins.flex-row;
  }
}
