.heading {
  font-weight: var(--fw-med);
  text-transform: capitalize;
  min-width: 75px;
}

.name {
  margin: 0;
  white-space: nowrap;
}

.detailItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.group {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 48em) {
  .detailItem {
    width: 160px;
    margin-right: 0.5rem;
    flex-direction: column;
  }

  .heading {
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    min-width: none;
  }
}
