@import "@/styles/mixins.scss";

.noTrailer {
  display: none;
}

.button {
  background: $primary-light;
  padding: 1em 2.25em;
  border: none;
  border-radius: $border-radius-s;
  font-family: inherit;
  font-size: $body-l;
  font-weight: $fw-bold;
  color: $secondary;
  letter-spacing: 1px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
  margin-bottom: 2.5rem;
  width: 100%;
  cursor: pointer;
  @include tablet {
    max-width: 300px;
    font-size: $heading-xs;
    margin-bottom: 1rem;
  }
  &:hover,
  &:focus {
    background: $primary;
    transition: $transition;
  }
}
