.title {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.25rem 0 0;
}

.details {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: capitalize;
  bottom: 2.25rem;
  left: 1rem;
  opacity: 0.7;
}
.iconMovies {
  transform: translate(0.25rem, 0.8rem);
}

.iconSeries {
  transform: translate(0.25rem, 0.7rem);
}

.type {
  text-transform: capitalize;
}

@media (min-width: 48em) {
  .details {
    left: 2rem;
    bottom: 4.5rem;
  }

  .title {
    font-size: 1.25rem;
    left: 2rem;
    margin: 0.375rem 0 0;
  }
}
