@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.date {
  margin-right: 0.5rem;
  background: variable.$primary-dark;
  padding: 0.25em 0.75em;
  border: 1px solid variable.$primary-dark;
  border-radius: variable.$border-radius-l;
  white-space: nowrap;
  color: variable.$primary;
  font-size: variable.$body-m;
  font-weight: variable.$fw-med;
}
