@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.title {
  font-weight: $fw-med;
  font-size: $heading-xs;
}

.container {
  margin: 2rem auto 1rem;
  max-width: 900px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid $slate;
  padding-bottom: 1rem;
  gap: 1.5rem;
  @include tablet() {
    .tabs {
      gap: 2.5rem;
      padding-bottom: 2rem;
    }
  }
}

.providerContainer {
  @include tablet() {
    display: flex;
    gap: 2rem;
  }
}

.providers {
  min-width: 100%;
}

.providers.active {
  animation: fade $fade-animation;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
