.container {
  font-size: 1rem;
  margin: 0 auto 2rem;
  width: 90%;
  position: relative;
  z-index: 5;
}

.justWatchLogoContainer {
  position: relative;
  width: 100px;
  height: 50px;
  object-fit: contain;
}

.logo {
  width: 100% !important;
  height: 100% !important;
}

.providers {
  font-style: italic;
}

.headingMethod {
  font-size: 1rem;
  font-style: normal;
}

.icons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.icon {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

@media (max-width: 23em) {
  .container {
    width: 95%;
  }
}

@media (max-width: 21.625em) {
  .container {
    width: 87.5%;
  }
}

@media (min-width: 48em) {
  .container {
    display: none;
  }
  .justWatchLogoContainer {
    width: 150px;
    height: 100px;
  }

  .headingMethod {
    font-size: 1.5rem;
  }

  .icons {
    gap: 1rem;
  }
}
