.section {
  margin-top: 1.5rem;
}

.headingAndDropdownButtonWrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
} /* for index pages */

.heading {
  font-size: var(--heading-l);
  font-weight: var(--fw-light);
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 1.25rem;
} /* for index pages */

@media (min-width: 48em) {
  .heading {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
  } /* for index pages */
}
