@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  @include flex-column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  @include tablet {
    @include flex-row;
    margin-bottom: unset;
  }
}

.rating {
  fill: white;
  font-weight: $fw-bold;
  font-size: $heading-xs;
  font-family: "Wix Madefor Display", sans-serif;
}

.totalValue {
  fill: $slate;
  font-size: $body-xs;
  font-weight: $fw-bold;
  font-family: "Wix Madefor Display", sans-serif;
}

.logoContainer {
  color: $slate;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statsContainer {
  @include flex-column;
  align-items: center;
  gap: 1rem;
  @include tablet {
    @include flex-row;
  }
}
