@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.container {
  @include mixins.flex-column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  @include mixins.tablet {
    @include mixins.flex-row;
    margin-bottom: unset;
  }
}

.rating {
  fill: white;
  font-weight: variable.$fw-bold;
  font-size: variable.$heading-xs;
  font-family: "Wix Madefor Display", sans-serif;
}

.totalValue {
  fill: variable.$slate;
  font-size: variable.$body-xs;
  font-weight: variable.$fw-bold;
  font-family: "Wix Madefor Display", sans-serif;
}

.logoContainer {
  color: variable.$slate;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statsContainer {
  @include mixins.flex-column;
  align-items: center;
  gap: 1rem;
  @include mixins.tablet {
    @include mixins.flex-row;
  }
}
