.container {
  z-index: 5;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.list {
  display: none;
  padding-left: 0;
  align-items: center;
  font-weight: bold;
}

.list li {
  list-style: none;
  margin-right: 1rem;
  font-weight: 500;
}

.title {
  margin: 0;
  font-weight: 500;
}

.tagline {
  opacity: 0.7;
  font-style: italic;
  margin-top: 0.5rem;
  font-size: 0.9375rem;
}

.runtime,
.seasons {
  display: none;
}

.displayRuntime {
  display: inline-block;
}

@media (min-width: 48em) {
  .container {
    width: 93.75%;
    padding: 0;
    margin-bottom: 4rem;
  }

  .tagline {
    font-size: 1rem;
    font-size: 16px;
  }
}

@media (min-width: 75em) {
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    margin: 4.15rem 2.25rem 2rem 11rem;
    width: unset;
    left: 0;
    padding: 0;
  }

  .content {
    max-width: 80%;
  }

  .list {
    font-size: 1.25rem;
    display: flex;
  }

  .content {
    margin: 0;
  }

  .tagline {
    margin-bottom: 1rem;
  }
}
