.container {
  z-index: 5;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.list {
  display: none;
  padding-left: 0;
  align-items: center;
}

.list li {
  list-style: none;
  margin-right: 1rem;
  font-weight: 500;
}

.title {
  margin: 0;
  font-weight: 500;
}

.tagline {
  opacity: 0.7;
  font-style: italic;
  margin-top: 0.5rem;
  font-size: 0.9375rem;
}

.ageRating {
  border: 1px solid var(--Pure-white);
  padding: 0.15rem 0.5rem;
}

.runtime,
.seasons {
  display: none;
}

.displayRuntime {
  display: inline-block;
}

.overview {
  line-height: 25px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Semi-dark-blue);
  display: none;
}

@media (min-width: 30em) {
}

@media (min-width: 48em) {
  .container {
    width: 93.75%;
    padding: 0;
    margin-bottom: 4rem;
  }

  .tagline {
    font-size: 1rem;
    font-size: 16px;
  }
}

@media (min-width: 75em) {
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    margin: 4.15rem 2.25rem 2rem 11rem;
    width: unset;
    left: 0;
    padding: 0;
  }

  .content {
    max-width: 80%;
  }
  .overview {
    width: unset;
    padding-bottom: unset;
    border-bottom: unset;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }

  .list {
    font-size: 1.25rem;
    display: flex;
  }

  .content {
    margin: 0;
  }
}
