.container {
  width: 240px;
  height: 140px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0.7;
  display: inline-block;
}

.container:hover {
  opacity: 1;
  transition: all 200ms ease-in;
}

.link {
  position: relative;
}

@media (max-width: 20em) {
  .container {
    width: 220px;
    height: 120px;
  }
}

@media (min-width: 48em) {
  .container {
    width: 470px;
    height: 230px;
  }
}

@media (min-width: 90em) {
  .container {
    width: 575px;
    height: 280px;
  }
}
