.container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  animation: fade 250ms ease-in;
}

.card {
  border-radius: 8px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container:hover {
  opacity: 0.6;
  transition: all 250ms ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
