.heading {
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

@media (min-width: 48em) {
  .heading {
    font-size: 2rem;
    margin: 2rem 0;
  }
}

@media (min-width: 75em) {
  .heading {
    margin-top: 2.125rem;
  }
}
