@import "@/styles/variables.scss";

.button {
  background: linear-gradient(90deg, $primary-med, $primary);
  padding: 0.9em 2.25em;
  border: none;
  border-radius: $border-radius-xl;
  font-family: inherit;
  font-size: $body-l;
  font-weight: $fw-bold;
  color: $secondary;
  letter-spacing: 1px;
}
