.container {
  display: none;
}

@media (min-width: 48em) {
  .container {
    display: block;
    width: 93.75%;
    margin: 1rem auto;
  }

  .tabs {
    border-bottom: 1px solid var(--Greyish-blue);
    padding-bottom: 2rem;
    display: flex;
    gap: 1.5rem;
  }

  .detailsContainer {
    display: flex;
    padding-top: 2rem;
    gap: 2rem;
    justify-content: space-between;
  }
}

@media (min-width: 75em) {
  .container {
    margin: 0 2.25rem 0 11rem;
    width: unset;
    position: relative;
    top: -12rem;
    z-index: 5;
  }

  .tabs {
    gap: 2.5rem;
  }
}

@media (min-width: 90em) {
  .container {
    top: -18rem;
  }
}
