@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.button {
  color: $primary;
  border-radius: $border-radius-s;
  border: 1px solid $primary-dark;
  text-transform: capitalize;
  font-size: $heading-l-m;
  font-weight: $fw-bold;
  cursor: pointer;
  transition: $transition;
  background-color: $primary-dark;
  padding: 0.5em 1em 0.5em 0.75em;
  white-space: nowrap;
  @include tablet {
    font-size: $heading-s;
  }
}

.chevron {
  position: relative;
  margin-left: 0.25rem;
  top: 0.15rem;
  right: -0.5rem;
  width: 15px;
  height: 15px;
  @include tablet {
    top: 0.25rem;
    width: 20px;
    height: 20px;
  }
}

.open {
  transform: rotate(180deg);
  transition: transform 100ms ease-in-out;
}

.closed {
  transform: rotate(0deg);
  transition: transform 100ms ease-in-out;
}

.button:focus {
  background: $tertiary-light;
}

@media (hover: hover) {
  .button:hover {
    background: $tertiary-light;
  }
}
