@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.button {
  display: flex;
  align-items: center;
  color: $primary;
  border-radius: $border-radius-s;
  border: 1px solid $primary-dark;
  text-transform: capitalize;
  font-size: $heading-l-m;
  font-weight: $fw-extraBold;
  cursor: pointer;
  transition: $transition;
  background-color: $primary-dark;
  padding: 0.5em 1em 0.5em 0.75em;
  white-space: nowrap;
  letter-spacing: 0.05rem;
  @include tablet {
    font-size: $heading-s;
  }
}

.chevron {
  position: relative;
  margin-left: 0.25rem;
  right: -0.5rem;
  @include tablet {
  }
}

.icon > svg {
  @include tablet {
    transform: translateY(10%);
  }
}

.open {
  transform: rotate(180deg);
  transition: transform 100ms ease-in-out;
}

.closed {
  transform: rotate(0deg);
  transition: transform 100ms ease-in-out;
}

.button:focus {
  background: $tertiary-light;
}

@media (hover: hover) {
  .button:hover {
    background: $tertiary-light;
  }
}
