.headingMethod {
  font-size: var(--heading-xs);
}

.container.active {
  animation: fade var(--fade-animation);
}

.justWatchLogoContainer {
  margin-top: 1rem;
  position: relative;
  width: 130px;
  height: 80px;
}

.logo {
  width: 100%;
  height: 100%;
}

.icons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.icon {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
