@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.heading {
  font-weight: $fw-med;
  text-transform: capitalize;
  min-width: 75px;
  @include tablet() {
    margin-bottom: 0.75rem;
    min-width: none;
  }
}

.name {
  white-space: nowrap;
  color: $slate;
}

.detailItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
  @include tablet() {
    width: 165px;
    margin-right: 0.5rem;
  }
}

.group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
