@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  margin-bottom: 2rem;
  color: $slate;
}

.overview {
  line-height: 25px;
  font-size: $body-l-m;
  font-weight: $fw-light;
  margin-bottom: 1rem;
  @include tablet() {
    font-size: $body-l;
  }
}

.mediaSummaryOverview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  @include laptop {
    -webkit-line-clamp: 4;
  }
}

.expand {
  height: unset;
  overflow: visible;
  display: block;
  text-overflow: unset;
}

.readMoreToggle {
  background: transparent;
  color: $primary;
  border: none;
  text-transform: capitalize;
  font-size: $body-l-m;
  padding: 0;
  cursor: pointer;
}
