.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin: 1rem 0 1.5rem;
  width: 100%;
}

.linkContainer {
  width: calc(50% - 10px);
}

@media (max-width: 23em) {
  .linkContainer {
    width: calc(100%);
  }
}

@media (min-width: 38em) {
  .container {
    gap: 1rem;
  }
  .linkContainer {
    width: calc(33.3333% - 11px);
  }
}

@media (min-width: 48em) {
  .container {
    gap: 1.875rem;
    margin-bottom: 2rem;
  }

  .linkContainer {
    width: calc(33.3333% - 20px);
  }
}

@media (min-width: 90em) {
  .container {
    gap: 2.5rem;
  }
  .linkContainer {
    width: calc(25% - 30px);
  }
}
