.section {
  margin-top: 1.5rem;
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.heading {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: capitalize;
  display: inline-block;
  margin: 0.75rem 1rem 0rem 0;
}

.categoryLink {
  font-size: 0.8rem;
  transform: translateY(50%);
  color: var(--Red);
}

.categoryLink:hover {
  color: var(--Pure-white);
  text-decoration: underline;
  transition: all 200ms;
}

.container {
  place-content: center flex-start;
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 0 -20px;
}

.linkContainer {
  margin: 0 0 20px 20px;
  width: calc(50% - 20px);
}

.iconTrending {
  margin-right: 0.5rem;
}

.iconMovies {
  transform: translateY(0.25rem);
}

.iconSeries {
  transform: translateY(0.175rem);
}

@media (min-width: 30em) {
  .linkContainer {
    width: calc(33.333% - 20px);
  }
}

@media (min-width: 48em) {
  .heading {
    font-size: 2rem;
    margin: 1.5rem 1rem 0.5rem 0;
  }

  .categoryLink {
    font-size: 1rem;
  }

  .iconMovies {
    transform: translateY(0.1rem);
  }

  .iconSeries {
    transform: unset;
  }
}

@media (min-width: 56.25em) {
  .linkContainer {
    width: calc(25% - 20px);
    margin-bottom: 35px;
  }
}

@media (min-width: 96em) {
  .linkContainer {
    width: calc(20% - 20px);
  }
}

@media (min-width: 118.75em) {
  .linkContainer {
    width: calc(16.666667% - 20px);
  }
}
