@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.title {
  font-weight: variable.$fw-med;
  font-size: variable.$heading-xs;
}

.triggerContainer {
  position: relative;
  min-width: 55px;
  text-align: center;
}

.trigger {
  text-transform: capitalize;
  font-weight: variable.$fw-med;
  font-size: variable.$body-l-m;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--quinary);
  @include mixins.tablet() {
    font-size: variable.$body-l;
    padding-bottom: 0.5rem;
  }
}

.trigger:hover {
  color: var(--primary-light);
  transition: variable.$transition;
}

.trigger.active {
  color: var(--primary-light);
  transition: variable.$transition;
}

.trigger::after {
  content: "";
  background: var(--primary-light);
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;
  transition: opacity 200ms ease-in;
  height: 2px;
  bottom: -1.05rem;
  @include mixins.tablet {
    height: 4px;
  }
}

.trigger.active::after {
  opacity: 1;
}

.tabsContainer {
  margin: 2rem auto 1rem;
  max-width: 900px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--tertiary-light);
  padding-bottom: 1rem;
  gap: 1.5rem;
  @include mixins.tablet() {
    .tabs {
      gap: 2.5rem;
      padding-bottom: 2rem;
    }
  }
}

.logoWrapper {
  margin: 1rem 0 0.75rem;
}

.providerContainer {
  @include mixins.tablet() {
    display: flex;
    gap: 2rem;
  }
}

.providers {
  min-width: 100%;
}

.providers.active {
  animation: fade variable.$fade-animation;
}

.headingMethod {
  font-size: variable.$heading-xs-m;
  @include mixins.tablet() {
    font-size: variable.$heading-xs;
  }
}

.container.active {
  animation: fade variable.$fade-animation;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  width: 100%;
}

.provider {
  display: flex;
  gap: 0.5rem;
  font-size: variable.$body-m;
  align-items: center;
  background-color: var(--primary-dark);
  padding: 0.5em 0.5em;
  border-radius: variable.$border-radius-s;
  min-width: 100%;
}

.providerDetails {
  @include mixins.flex-column;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subscription {
  color: var(--tertiary-light);
}

.iconWrapper {
  border-radius: variable.$border-radius-s;
  display: inline-block;
  position: relative;
  min-width: 35px;
  min-height: 35px;
}

.icon {
  object-fit: contain;
  border-radius: variable.$border-radius-s;
}

.name {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
}

.placeholder {
  font-size: variable.$body-m;
  color: var(--tertiary-light);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
