.tabContainer {
  position: relative;
}

.tab {
  text-transform: uppercase;
  font-weight: var(--fw-med);
  font-size: var(--heading-xs);
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--pure-white);
  padding: 0;
}

.tab:hover {
  color: var(--red);
  transition: var(--transition);
}

.tab.active {
  color: var(--red);
  transition: var(--transition);
}

.tab::after {
  content: "";
  background: var(--red);
  opacity: 0;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -2.0625rem;
  transition: opacity 200ms ease-in;
}

.tab.active::after {
  opacity: 1;
}

.tabSuggested {
  display: none;
}

@media (min-width: 64em) {
  .tabSuggested {
    display: inline-block;
  }
}
