@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.rating {
  fill: white;
  font-weight: $fw-bold;
  font-size: $heading-xs;
  font-family: "Wix Madefor Display", sans-serif;
}

.totalValue {
  fill: $slate;
  font-size: $body-xs;
  font-weight: $fw-bold;
  font-family: "Wix Madefor Display", sans-serif;
}
