@use "@/styles/variables" as variable;

.rating {
  fill: white;
  font-weight: variable.$fw-bold;
  font-size: variable.$heading-xs;
  font-family: "Wix Madefor Display", sans-serif;
}

.totalValue {
  fill: variable.$slate;
  font-size: variable.$body-xs;
  font-weight: variable.$fw-bold;
  font-family: "Wix Madefor Display", sans-serif;
}
