@media (min-width: 48em) {
  .details.active {
    animation: fade 200ms ease-in;
  }

  .list {
    margin-bottom: 2rem;
  }

  .list,
  .attributesList {
    padding-left: 0;
    display: flex;
  }

  .attributesList {
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  .listItem {
    list-style: none;
    width: 160px;
    margin-right: 0.5rem;
  }

  .name {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .value {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    align-items: flex-start;
  }

  .genre {
    margin-bottom: 0.5rem;
    background-color: var(--Greyish-blue);
    border: 1px solid var(--Greyish-blue);
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    white-space: nowrap;
    transition: all 0.2s;
  }

  @media (hover: hover) {
    .genre:hover {
      background-color: var(--Dark-blue);
    }
  }
}

@media (min-width: 75em) {
  .details {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    justify-content: flex-end;
  }

  .list {
    margin-top: 0;
  }

  .attributesList {
    display: flex;
  }

  .genre {
    margin-bottom: unset;
    background-color: unset;
    border-radius: unset;
    padding: unset;
    color: var(--Red);
    border: none;
  }

  .genre:hover {
    color: var(--Pure-white);
    transition: all 200ms;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
