.overviewContainer {
  margin-bottom: 2rem;
}

.mediaDetails.active {
  animation: fade var(--fade-animation);
}

.list,
.attributesList {
  padding-left: 0;
  display: flex;
}

.attributesList {
  flex-wrap: wrap;
  row-gap: 2rem;
}

.listItem {
  list-style: none;
  width: 160px;
  margin-right: 0.5rem;
}

.heading {
  text-transform: uppercase;
  font-weight: var(--fw-med);
  margin-bottom: 0.5rem;
}

.releaseDate {
  width: 165px;
}

@media (min-width: 75em) {
  .overviewContainer {
    margin-bottom: none;
  }
  .mediaDetails {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    justify-content: flex-end;
  }

  .list {
    margin-top: 0;
  }

  .attributesList {
    display: flex;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
