.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingAndIconWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.heading {
  font-size: var(--heading-l);
  font-weight: var(--fw-light);
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 1.25rem;
}

.categoryLink {
  font-size: var(--body-l);
  color: var(--red);
}

.categoryLink:hover {
  color: var(--greyish-blue);
  transition: var(--transition);
}

.iconTrending {
  margin-right: 0.5rem;
}

.iconMovies {
  transform: translateY(0.25rem);
}

.iconSeries {
  transform: translateY(0.175rem);
}

@media (min-width: 48em) {
  .heading {
    margin-top: 1rem;
  }
  .iconMovies {
    transform: translateY(0.1rem);
  }

  .iconSeries {
    transform: unset;
  }
}
