@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

%button-base {
  padding: 1em 2.25em;
  border: none;
  font-family: inherit;
  font-size: variable.$body-l;
  font-weight: variable.$fw-bold;
  color: variable.$secondary;
  letter-spacing: 1px;
  transition: transform 0.15s ease-in-out;
  cursor: pointer;
}

.primary {
  background: linear-gradient(90deg, variable.$primary-gradient);
  border-radius: variable.$border-radius-xl;

  &:hover {
    transform: scale(1.1);
  }
}

.secondary {
  background: variable.$primary-light;
  border-radius: variable.$border-radius-s;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
  margin-bottom: 2.5rem;
  width: 100%;

  @include mixins.tablet {
    max-width: 300px;
    font-size: variable.$heading-xs;
    margin-bottom: 1rem;
  }

  &:hover,
  &:focus {
    background: variable.$primary;
    transition: variable.$transition;
  }
}

.tertiary {
  margin: 2rem 0;
  padding: 0.75em 1.25em;
  background-color: transparent;
  border: 1px solid variable.$primary;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.quaternary {
  background-color: variable.$quaternary;
  border: 1px solid variable.$quaternary;
  color: white;
  font-size: variable.$body-s;
  padding: 0.75em 1.5em;
  border-radius: variable.$border-radius-xl;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  &:hover {
    background-color: variable.$quaternary-light;
    transition: variable.$transition;
  }
}

.quaternary.loading {
  background-color: transparent;
  color: variable.$tertiary;
  border-color: variable.$tertiary;
}

.button {
  @extend %button-base;
}
