.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingAndIconWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.heading {
  font-size: var(--heading-l);
  font-weight: var(--fw-light);
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 1.25rem;
}

.categoryLink {
  font-size: var(--body-l);
  color: var(--primary);
}

.categoryLink:hover {
  color: var(--greyish-blue);
  transition: var(--transition);
}

.icon {
  width: 15px;
  height: 15px;
}

@media (min-width: 48em) {
  .heading {
    margin-top: 1rem;
  }

  .icon {
    width: 20px;
    height: 20px;
    transform: translateY(5%);
  }

  .headingAndIconWrapper {
    gap: 0.75rem;
  }
}
