@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.headingContainer {
  @include flex-column;
  @include center;
  margin-bottom: 1.25rem;
  position: relative;
  gap: 0.25rem;
}

.heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: $heading-xs-m;
  font-weight: $fw-med;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  max-width: 10%;

  @include tablet() {
    font-size: $heading-xs;
    gap: 0.75rem;
  }
}

.chevron {
  width: 0.875rem;
  height: 0.875rem;
  @include tablet {
    width: 1.1rem;
    height: 1.1rem;
  }
}

.subheading {
  color: $slate;
}
