.details {
  position: relative;
  z-index: 5;
  margin: 0 auto 2rem;
  width: 90%;
}

.container {
  display: flex;
  margin-bottom: 2rem;
}

.heading {
  text-transform: capitalize;
  font-weight: 500;
  min-width: 75px;
  margin: 0;
}

.description {
  margin-left: 0;
  white-space: nowrap;
  list-style: none;
}

.castContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.linksContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.genre {
  margin-right: 0.5rem;
  background-color: var(--Greyish-blue);
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
}

@media (max-width: 23em) {
  .details {
    width: 95%;
  }
}

@media (max-width: 21.625em) {
  .details {
    width: 87.5%;
  }
}

@media (min-width: 48em) {
  .details {
    display: none;
  }

  .heading {
    text-transform: capitalize;
    font-weight: 500;
    min-width: 75px;
    margin-right: 1rem;
  }
}
