.heading {
  font-weight: var(--fw-med);
  text-transform: capitalize;
  min-width: 75px;
}

.description {
  margin-left: 0;
  white-space: nowrap;
  list-style: none;
}

.detailItem {
  display: flex;
  margin-bottom: 2rem;
}

@media (min-width: 48em) {
  .detailItem {
    width: 160px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    flex-direction: column;
  }

  .heading {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    min-width: none;
  }
}
