// Font sizes

$base-font-size: 16px;

// Font weights

$fw-light: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-bold: 600;
$fw-extraBold: 800;

// Borders

$border-radius-xl: 24px;
$border-radius-l: 20px;
$border-radius-s: 8px;
$input-active: 1px solid var(--tertiary-dark);

// Hover states

$card-hover: 0.6;

// z-index

$z-index-5: 5;
$z-index-4: 4;
$z-index-3: 3;
$z-index-2: 2;
$z-index-1: 1;

// Letter spacing

$ls-s: 0.75px;
$ls: 1.5px;

// Media queries

$mobile-s: calc((320px / $base-font-size) * 1em);
$mobile-l: calc((480px / $base-font-size) * 1em);
$tablet: calc((768px / $base-font-size) * 1em);
$tablet-l: calc((1024px / $base-font-size) * 1em);
$laptop: calc((1280px / $base-font-size) * 1em);
$desktop: calc((1440px / $base-font-size) * 1em);
$desktop-l: calc((1728px / $base-font-size) * 1em);

// Animations/Transitions
$fade-animation: 250ms ease;
$transition: all 100ms ease;
