// Themes

$primary: #5eead4;
$primary-light: #1ca586;
$primary-med: #1c4b6f;
$primary-dark: #152b39;
$secondary: #10141e;
$secondary-light: #112240;
$secondary-med-light: #112c40;
$tertiary: #5a6a90;
$tertiary-light: #778bbc;
$primary-text: #ffffff;
$secondary-text: #ffffff;
$slate: #94a4b8;
$primary-gradient: $primary-med, $primary;
$secondary-gradient: $secondary-med-light, $primary-med;
$tertiary-gradient: $primary-light, $tertiary;

// Font sizes

$base-font-size: 16px;
$heading-l-m: 1.25rem;
$heading-m-m: 1rem;
$heading-s-m: 0.9375rem;
$heading-xs-m: 0.875rem;
$heading-xl-m: 2.5rem;
$heading-xl: 3rem;
$heading-l: 2rem;
$heading-m: 1.75rem;
$heading-s: 1.5rem;
$heading-xs: 1.125rem;
$body-l-m: 0.9375rem;
$body-m-m: 0.75rem;
$body-s-m: 0.6875rem;
$body-l: 1rem;
$body-m: 0.9375rem;
$body-s: 0.8125rem;
$body-xs: 0.625rem;

// Font weights

$fw-light: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-bold: 600;
$fw-extraBold: 800;

// Borders

$border-radius-xl: 24px;
$border-radius-l: 20px;
$border-radius-s: 8px;
$input-active: 1px solid $tertiary;

// Hover states

$card-hover: 0.6;

// z-index

$z-index-5: 5;
$z-index-4: 4;
$z-index-3: 3;
$z-index-2: 2;
$z-index-1: 1;

// Media queries

$mobile-s: calc((320px / $base-font-size) * 1em);
$mobile-l: calc((480px / $base-font-size) * 1em);
$tablet: calc((768px / $base-font-size) * 1em);
$tablet-l: calc((1024px / $base-font-size) * 1em);
$laptop: calc((1200px / $base-font-size) * 1em);
$desktop: calc((1440px / $base-font-size) * 1em);
$desktop-l: calc((1728px / $base-font-size) * 1em);

// Animations/Transitions
$fade-animation: 250ms ease-in;
$transition: all 100ms ease-in;
