@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: $secondary;
  color: $primary-text;
  font-weight: $fw-light;
}

header {
  width: 100%;
}

main {
  width: 100%;
  padding-top: 8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  display: inline-block;
}

hr {
  border: 0.5px solid $secondary-light;
  margin: 0 0 2rem;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $primary;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Safari 15+ displays a gray border while loading. Solution at https://nextjs.org/docs/api-reference/next/future/image */

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
