@use "variables" as variable;

@font-face {
  font-display: swap;
  font-family: Outfit;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Outfit-Light.woff2") format("woff2"),
    url("/fonts/Outfit-Light.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Outfit-Medium.woff2") format("woff2"),
    url("/fonts/Outfit-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Outfit-SemiBold.woff2") format("woff2"),
    url("/fonts/Outfit-SemiBold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/WixMadeforDisplay-Regular.woff2") format("woff2"),
    url("/fonts/WixMadeforDisplay-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/WixMadeforDisplay-Medium.woff2") format("woff2"),
    url("/fonts/WixMadeforDisplay-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/WixMadeforDisplay-ExtraBold.woff2") format("woff2"),
    url("/fonts/WixMadeforDisplay-ExtraBold.woff") format("woff");
}

html,
body {
  font-family: "Outfit", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  background: variable.$secondary;
  color: variable.$primary-text;
  font-weight: variable.$fw-light;
}

header {
  width: 100%;
}

main {
  padding-top: 8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  display: inline-block;
}

hr {
  border: 0.5px solid variable.$secondary;
  margin: 0 0 2rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: variable.$primary;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Safari 15+ displays a gray border while loading. Solution at https://nextjs.org/docs/api-reference/next/future/image */

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
