@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;
.container,
.header {
  @include mixins.center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-evenly;
  @include mixins.tablet {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: space-evenly;
    gap: 2rem;
  }

  @include mixins.tabletL {
    justify-content: space-between;
    gap: 1rem;
  }
}

.header {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: variable.$fw-med;

  @include mixins.laptop {
    margin-top: 4rem;
  }
}

.linkContainer {
  @include mixins.flex-column;
  align-items: center;
  list-style: none;
}
