@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.header {
  @include flex-column;
  background-color: $secondary;
  position: fixed;
  top: 0px;
  z-index: 10;
  border-bottom: 0px solid $secondary;
  transition: border-bottom 250ms ease-in-out;
}

.visible {
  @include flex-column;
  background-color: $secondary;
  position: fixed;
  top: 0px;
  z-index: 10;
  border-bottom: 3px solid $primary-dark;
  transition: top 250ms ease-in-out, border-bottom 250ms ease-in-out;
}

.hidden {
  @include flex-column;
  background-color: $secondary;
  position: fixed;
  z-index: 10;
  border-bottom: 0px solid $secondary;
  transition: top 150ms ease-in-out 0.2s;
  top: -116px;
  @include tablet {
    top: -136px;
  }
}

.container {
  @include center;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  gap: 1rem;
  height: 44px;
  @include tablet() {
    margin-bottom: 1.5rem;
  }
}

.logo {
  color: $primary;
  font-size: $heading-l-m;
  font-weight: $fw-med;
  font-family: "Wix Madefor Display", sans-serif;
  width: auto;
  flex-shrink: 0;
  flex-basis: 0;
  @include tablet() {
    font-size: $heading-l-m;
  }
}

.loginContainer {
  display: flex;
  gap: 0.5rem;
}

.separator,
.signupButton {
  display: none;
  width: auto;
  flex-shrink: 0;
  flex-basis: 0;

  @include tablet {
    display: inline;
  }
}
