@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.closeButtonArrow {
  background-color: transparent;
  border: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: $transition;
}
