@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.closeButton {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  transition: $transition;
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  right: 3.5rem;
  top: 0.8rem;

  @include tablet {
    display: block;
  }
}
