.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: var(--heading-l);
  font-weight: var(--fw-light);
  text-transform: capitalize;
  display: inline-block;
  margin: 0.75rem 1rem 1.25rem 0;
}

.categoryLink {
  font-size: var(--body-l);
  color: var(--red);
}

.categoryLink:hover {
  color: var(--greyish-blue);
  transition: var(--transition);
}

.iconMovies,
.iconSeries {
  transform: translateY(0.25rem);
  margin-right: 0.5rem;
}

@media (min-width: 48em) {
  .heading {
    margin: 1.5rem 1rem 1.25rem 0;
  }

  .iconMovies,
  .iconSeries {
    transform: unset;
    margin-right: 0.5rem;
  }
}
