.main {
  width: 100vw;
  margin: 0;
}

.hero {
  position: relative;
  margin-bottom: -5rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.backgroundImage {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 315px;
  z-index: 3;
  top: -0.75rem;
  left: 0;
  background-color: var(--Dark-Blue);
  background-image: linear-gradient(
    rgba(16, 20, 30, 1) 5%,
    rgba(16, 20, 30, 0.75) 30%,
    rgba(16, 20, 30, 0.5) 50%,
    rgba(16, 20, 30, 0),
    rgba(16, 20, 30, 0.5) 50%,
    rgba(16, 20, 30, 0.75) 70%,
    rgba(16, 20, 30, 1) 90%
  );
}

@media (min-width: 30em) {
  .imageContainer {
    height: 450px;
  }

  .overlay {
    height: 470px;
  }
}
@media (min-width: 64em) {
  .imageContainer {
    height: 550px;
  }

  .overlay {
    height: 570px;
  }
}

@media (min-width: 75em) {
  .overlay {
    background-image: linear-gradient(
      rgba(16, 20, 30, 1) 2%,
      rgba(16, 20, 30, 0.75) 15%,
      rgba(16, 20, 30, 0.5) 30%,
      rgba(16, 20, 30, 0),
      rgba(16, 20, 30, 0.5) 30%,
      rgba(16, 20, 30, 0.75) 50%,
      rgba(16, 20, 30, 1) 80%
    );
  }

  .imageContainer {
    height: 100vh;
  }

  .overlay {
    height: 102vh;
  }

  .hero {
    margin-bottom: -34rem;
  }
}

@media (min-width: 90em) {
  .hero {
    margin-bottom: -37rem;
  }
}
