@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.container {
  z-index: variable.$z-index-4;
  position: relative;
  @include mixins.center;
  max-width: 900px;
  @include mixins.flex-column;
  justify-content: center;
  padding-top: 8rem;

  @include mixins.tablet {
    padding-top: 14rem;
  }
  & > h1 {
    margin-bottom: 0;
  }
}

.btn {
  margin-bottom: 0.5rem;
  color: var(--tertiary-light);
  position: relative;
  top: -6.5rem;
  @include mixins.tablet {
    top: -4rem;
  }
  &:hover {
    text-decoration: underline;
  }
}
