@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  z-index: 5;
  position: relative;
  @include center;
  max-width: 900px;
  @include flex-column;
  justify-content: center;
  margin: 8rem auto 0;

  @include tablet {
    margin-top: 14rem;
  }
}

.title {
  font-weight: $fw-med;
  font-size: $heading-l;
  @include tablet() {
    font-size: $heading-xl;
  }
}
