@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.container {
  z-index: variable.$z-index-4;
  position: relative;
  @include mixins.center;
  max-width: 900px;
  @include mixins.flex-column;
  justify-content: center;
  margin: 8rem auto 0;

  @include mixins.tablet {
    margin-top: 14rem;
  }
}

.title {
  font-weight: variable.$fw-med;
  font-size: variable.$heading-l;
  @include mixins.tablet() {
    font-size: variable.$heading-xl;
  }
}
