.buttonContainer {
  position: absolute;
  top: 7.5rem;
  left: 5.5rem;
}

.button {
  background: var(--Greyish-blue);
  color: var(--Pure-white);
  padding: 0.5em 1.75em 0.5em 1.25em;
  border-radius: 20px;
  border: 1px solid var(--Greyish-blue);
  text-transform: capitalize;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

.button:focus {
  background: var(--Semi-dark-blue);
}

@media (hover: hover) {
  .button:hover {
    background: var(--Semi-dark-blue);
  }
}

.chevron {
  position: relative;
  top: -0.05rem;
  right: -0.75rem;
}

@media (min-width: 30em) {
  .buttonContainer {
    left: 6.5rem;
  }
}

@media (min-width: 48em) {
  .buttonContainer {
    top: 13rem;
    left: 8.5rem;
  }
}

@media (min-width: 64em) {
  .buttonContainer {
    top: 13rem;
    left: 9rem;
  }
}

@media (min-width: 75em) {
  .buttonContainer {
    top: 9rem;
    left: 18rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
