.buttonContainer {
  position: absolute;
  top: 7.25rem;
  left: 5.5rem;
}

.button {
  background: var(--greyish-blue);
  color: var(--pure-white);
  padding: 0.5em 1.75em 0.5em 1.25em;
  border-radius: var(--border-radius-l);
  border: 1px solid var(--greyish-blue);
  text-transform: capitalize;
  font-size: inherit;
  cursor: pointer;
  transition: var(--transition);
}

.button:focus {
  background: var(--semi-dark-blue);
}

@media (hover: hover) {
  .button:hover {
    background: var(--semi-dark-blue);
  }
}

.chevron {
  position: relative;
  top: -0.05rem;
  right: -0.75rem;
}

@media (min-width: 30em) {
  .buttonContainer {
    left: 6rem;
  }
}

@media (min-width: 48em) {
  .buttonContainer {
    top: 12.75rem;
    left: 8.5rem;
  }
}

@media (min-width: 64em) {
  .buttonContainer {
    left: 9rem;
  }
}

@media (min-width: 75em) {
  .buttonContainer {
    top: 8.75rem;
    left: 18rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
