.buttonContainer {
  position: relative;
}

.button {
  background: var(--Greyish-blue);
  color: var(--Pure-white);
  padding: 0.5em 2.5em 0.5em 0.75em;
  border-radius: 20px;
  border: none;
  text-transform: capitalize;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

.button:focus,
.button:hover {
  background: var(--Semi-dark-blue);
}

.chevron {
  position: absolute;
  right: 0.75rem;
  top: 0.6rem;
}

@media (min-width: 48em) {
  .chevron {
    top: 0.9rem;
  }
}
