.buttonContainer {
  position: relative;
  /* animation: fade 250ms ease-in; */
}

.button {
  background: var(--Greyish-blue);
  color: var(--Pure-white);
  padding: 0.5em 1.75em 0.5em 1.25em;
  border-radius: 20px;
  border: 1px solid var(--Greyish-blue);
  text-transform: capitalize;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

.button:focus,
.button:hover {
  background: var(--Semi-dark-blue);
}

.chevron {
  position: relative;
  top: -0.05rem;
  right: -0.75rem;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
