.container {
  position: relative;
  border-radius: var(--border-radius-s);
  overflow: hidden;
  animation: fade var(--fade-animation);
}

.card {
  border-radius: var(--border-radius-s);
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (hover: hover) {
  .container:hover {
    opacity: 0.6;
    transition: var(--transition);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
