@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container,
.noCard {
  position: relative;
  display: block;
  border-radius: $border-radius-s;
  animation: fade $fade-animation;
  width: 110px;
  height: 165px;

  @include tablet {
    width: 160px;
    height: 240px;
  }
}

.noCard {
  background: linear-gradient(90deg, #1c4b6f, #112c40);
}

.card {
  border-radius: $border-radius-s;
  object-fit: cover;
  width: 100%;
  height: 100%;

  font-size: 0;

  @include tablet {
  }
}

.mediaType {
  background-color: rgba(0, 0, 0, 0.697);
  position: absolute;
  font-size: $body-s-m;
  font-weight: $fw-bold;
  padding: 0.1em 0.3em;
  top: -9rem;
  right: 0.5rem;
  @include tablet {
    top: -13.5rem;
    right: 0.75rem;
  }
}

@media (hover: hover) {
  .container:hover {
    opacity: 0.6;
    transition: $transition;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
