@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

%heading-base {
  margin-bottom: 1rem;
  font-weight: variable.$fw-med;
  letter-spacing: variable.$ls;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.xs {
  font-size: variable.$heading-xs;
}
.s {
  font-size: variable.$heading-s-m;

  @include mixins.tablet {
    font-size: variable.$heading-s;
  }
}
.m {
  font-size: variable.$heading-m-m;
  @include mixins.tablet {
    font-size: variable.$heading-m;
  }
}
.lg {
  font-size: variable.$heading-l-m;
  @include mixins.tablet {
    font-size: variable.$heading-l;
  }
}
.xl {
  font-size: variable.$heading-l-m;
  @include mixins.tablet {
    font-size: variable.$heading-l;
  }
}

.heading {
  @extend %heading-base;
}
