.heading {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: capitalize;
  display: inline-block;
  margin: 0.75rem 1rem 1.5rem 0;
}
.iconMovies,
.iconSeries {
  transform: translateY(0.25rem);
  margin-right: 0.5rem;
}

.outerBanner {
  position: relative;
}

.banner {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  scrollbar-width: none;
  animation: fade 250ms ease-in;
}

.banner::-webkit-scrollbar {
  display: none;
  height: 5px;
  background-color: transparent;
}

.banner::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 5px;
  background-color: var(--Greyish-blue);
}

.container {
  position: relative;
}

.link {
  min-width: 240px;
  height: 140px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0.7;
  display: inline-block;
  margin-right: 1rem;
}

.link:hover {
  opacity: 1;
  transition: all 200ms ease-in;
}

.trendingCard {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.navigation {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  transform: translateY(-10%);
  margin: auto;
  height: 35px;
  width: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  animation: fadeArrow 200ms ease-in;
}

.arrow {
  width: 100%;
  height: 100%;
}

.navigationPrev {
  left: 0;
}
.navigationNext {
  right: 0;
}

@media (hover: hover) {
  .outerBanner:hover .navigation {
    display: block;
  }
}

@media (max-width: 20em) {
  .link {
    min-width: 220px;
    margin-right: 0.75rem;
  }
}

@media (min-width: 48em) {
  .heading {
    font-size: 2rem;
    margin: 1.5rem 1rem 2rem 0;
  }

  .iconMovies,
  .iconSeries {
    transform: unset;
    margin-right: 0.5rem;
  }

  .banner::-webkit-scrollbar {
    height: 8px;
  }

  .banner::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }

  .link {
    min-width: 470px;
    height: 230px;
    margin-right: 2.5rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes fadeArrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
