@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container,
.header {
  @include center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-evenly;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: space-evenly;
    gap: 2rem;
  }

  @include tabletL {
    justify-content: space-between;
    gap: 1rem;
  }
}

.header {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: $fw-med;

  @include laptop {
    margin-top: 4rem;
  }
}

.linkContainer {
  @include flex-column;
  align-items: center;
  list-style: none;
}
