.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 0 -20px;
}

.linkContainer {
  margin: 0 0 20px 20px;
  width: calc(50% - 20px);
}

@media (min-width: 30em) {
  .linkContainer {
    width: calc(33.333% - 20px);
  }
}

@media (min-width: 56.25em) {
  .linkContainer {
    width: calc(25% - 20px);
    margin-bottom: 35px;
  }
}

@media (min-width: 96em) {
  .linkContainer {
    width: calc(20% - 20px);
  }
}

@media (min-width: 118.75em) {
  .linkContainer {
    width: calc(16.666667% - 20px);
  }
}
