@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  @include center;
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: space-evenly;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: space-between;
    row-gap: 2rem;
  }
}

.linkContainer {
  @include flex-column;
  align-items: center;
  list-style: none;
}
