@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  position: relative;
  margin-bottom: 4rem;
}

.carouselWrapper {
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carouselWrapper::-webkit-scrollbar,
.carouselWrapper::-webkit-scrollbar-thumb {
  display: none;
}

.navContainer {
  display: none;
  @include tablet {
    display: inline-flex;
    gap: 1.5rem;
    position: absolute;
    top: -2.75rem;
    right: 2rem;
    z-index: 2;
  }
}

.carousel {
  @include center;
}

.list,
.error {
  min-height: 215px;
  @include tablet {
    min-height: 307px;
  }
}

.list {
  display: flex;
  transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.error {
  @include center;
}

.listItem {
  list-style: none;
  min-width: 134px;
  min-height: 180px;
  height: auto;
  @include tablet {
    min-width: 184px;
    min-height: 250px;
  }
}
