.heading,
.message {
  width: 90%;
  margin: 1.25rem auto 0;
}

.heading {
  text-transform: capitalize;
}

.outerContainer {
  position: relative;
}

.suggestions {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  width: 90%;
  margin: 1.25rem auto 2rem;
  scrollbar-width: none;
}

.suggestions::-webkit-scrollbar {
  display: none;
}

.suggestions::-webkit-scrollbar-thumb {
  display: none;
}

.linkContainer {
  position: relative;
  margin-right: 1.5rem;
  min-width: 130px;
  max-width: 130px;
  height: 227px;
  overflow: hidden;
}

.suggestionContainer {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  min-width: 100%;
  height: 185px;
  opacity: 0.7;
  margin-right: 1.5rem;
}

.suggestionCard {
  width: 100% !important;
  height: 100% !important;
}

.linkContainer:hover,
.suggestionContainer:hover {
  opacity: 1;
  transition: all 200ms ease-in;
}

.message {
  width: 90%;
  margin: 2rem auto;
  font-style: italic;
  font-size: 0.85rem;
}

.name {
  font-size: 0.9375rem;
  max-width: 95%;
}

.navigation {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  transform: translateY(-50%);
  margin: auto;
  height: 35px;
  width: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  animation: fadeArrow 200ms ease-in;
}

.navigationPrev {
  left: 0;
}
.navigationNext {
  right: 0;
}

.arrow {
  width: 100%;
  height: 100%;
}

@media (min-width: 30em) {
  .navigation {
    position: absolute;
    top: -1.75rem;
    right: 0;
    bottom: unset;
    transform: translateY(-50%);
    display: block;
  }

  .navigationPrev {
    left: unset;
    margin-right: 1.75rem;
    right: 1.5rem;
  }
  .navigationNext {
    right: 1.5rem;
  }
}

@media (min-width: 48em) {
  .container {
    margin: 2rem auto 0;
    border-top: 2px solid var(--Semi-dark-blue);
    width: 93.75%;
    z-index: 10;
  }
  .heading {
    font-size: 1.25rem;
    margin: 1.65rem 0 2rem;
  }
  .suggestions {
    margin-top: 2.5rem;
    width: 100%;
  }

  .linkContainer {
    min-width: 160px;
    max-width: 160px;
    height: 282px;
  }

  .suggestionContainer {
    height: 240px;
  }

  .suggestions::-webkit-scrollbar {
    height: 8px;
  }

  .suggestions::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }

  .name {
    font-size: 0.935rem;
    max-width: 100%;
  }

  .message {
    width: 100%;
    font-size: 1rem;
  }

  .navigation {
    top: -3rem;
  }

  .navigationPrev {
    right: 0;
  }
  .navigationNext {
    right: 0;
  }
}

@media (min-width: 75em) {
  .container {
    border-top: unset;
    margin: 0;
    width: 100%;
    position: relative;
  }

  .heading {
    margin: 0 2.25rem 2rem 11rem;
    text-transform: capitalize;
    padding: 0;
    width: unset;
  }

  .outerContainer {
    margin: 0 2.25rem 2rem 11rem;
    width: unset;
  }

  .message {
    padding: unset;
  }
}

@keyframes fadeArrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
