.heading {
  padding: 0 1.25rem;
  text-transform: capitalize;
}

.suggestions {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  margin: 0 1.25rem 2rem;
}

.suggestions::-webkit-scrollbar {
  height: 5px;
  background-color: transparent;
}

.suggestions::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--Greyish-blue);
}

.suggestionContainer {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  min-width: 150px;
  height: 110px;
}

.message {
  padding: 0 1.25rem;
  font-style: italic;
  margin-bottom: 2rem;
}

@media (min-width: 48em) {
  .container {
    margin-top: 2rem;
    border-top: 2px solid var(--Semi-dark-blue);
  }
  .heading {
    padding: 0 1.65rem;
    font-size: 1.5rem;
  }
  .suggestions {
    margin: 0 1.65rem 2rem;
  }

  .suggestions::-webkit-scrollbar {
    height: 8px;
  }

  .suggestions::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }

  .suggestionContainer {
    min-width: 220px;
    height: 140px;
  }
}

@media (min-width: 64em) {
  .container {
    display: none;
  }
}
