.heading {
  padding: 0 1.25rem;
  text-transform: capitalize;
}

.suggestions {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  margin: 0 1.25rem 2rem;
}

.suggestions::-webkit-scrollbar {
  height: 5px;
  background-color: transparent;
}

.suggestions::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--Greyish-blue);
}

.suggestionContainer {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  min-width: 134px;
  height: 90px;
  opacity: 0.7;
}

.suggestionContainer:hover {
  opacity: 1;
  transition: all 200ms ease-in;
}

.message {
  padding: 0 1.25rem;
  font-style: italic;
  margin-bottom: 2rem;
}

.name {
  font-size: 0.75rem;
}

@media (min-width: 48em) {
  .container {
    margin-top: 2rem;
    border-top: 2px solid var(--Semi-dark-blue);
  }
  .heading {
    padding: 0 1.65rem;
    font-size: 1.25rem;
  }
  .suggestions {
    margin: 0 1.65rem 2rem;
  }

  .suggestions::-webkit-scrollbar {
    height: 8px;
  }

  .suggestions::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }

  .suggestionContainer {
    min-width: 200px;
    height: 120px;
  }

  .name {
    font-size: 0.935rem;
  }
}

@media (min-width: 64em) {
  .container {
    border-top: unset;
    margin-top: 0;
    position: relative;
    top: -2rem;
  }

  .heading,
  .message {
    margin: 0 2.25rem 2rem 9.75rem;
    padding: unset;
  }

  .heading {
    text-transform: capitalize;
  }

  .suggestions {
    margin: 0 2.25rem 0 9.75rem;
  }

  .suggestionContainer {
    min-width: 220px;
    height: 140px;
  }
}

@media (min-width: 75em) {
  .heading {
    margin: 0 2.25rem 2rem 11rem;
  }
  .suggestions,
  .message {
    margin: 0 2.25rem 0 11rem;
  }
}

@media (min-width: 96em) {
  .container {
    top: 2.5rem;
  }
}
