@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

@mixin header-styles {
  @include mixins.flex-column;
  background-color: variable.$secondary;
  position: fixed;
  z-index: variable.$z-index-5;
  border-bottom: 0px solid variable.$secondary;
}

.header {
  @include mixins.flex-column;
  @include header-styles();
  top: 0px;
  transition: border-bottom 250ms ease-in-out;
  border-bottom: 0px solid variable.$secondary;
}

.hidden {
  @include mixins.flex-column;
  @include header-styles();
  transition: top 150ms ease-in-out 0.2s;
  top: -116px;
  @include mixins.tablet {
    top: -136px;
  }
}

.visible {
  @include mixins.flex-column;
  @include header-styles();
  top: 0px;
  border-bottom: 3px solid variable.$primary-dark;
  transition: top 250ms ease-in-out, border-bottom 250ms ease-in-out;
}

.container {
  @include mixins.center;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  gap: 1rem;
  height: 44px;
  @include mixins.tablet() {
    margin-bottom: 1.5rem;
  }
}

.logo {
  color: variable.$primary;
  font-size: variable.$heading-l-m;
  font-weight: variable.$fw-extraBold;
  font-family: "Wix Madefor Display", sans-serif;
  width: auto;
  flex-shrink: 0;
  flex-basis: 0;
  @include mixins.tablet() {
    font-size: variable.$heading-l-m;
  }
  @include mixins.laptop() {
    font-size: variable.$heading-s;
  }
}

.loginContainer {
  display: flex;
  gap: 0.5rem;
}

.separator,
.signupButton {
  display: none;
  width: auto;
  flex-shrink: 0;
  flex-basis: 0;

  @include mixins.tablet {
    display: inline;
  }
}
