.footer {
  text-align: center;
}

.imageContainer {
  transform: translateY(0.25rem);
  display: inline-block;
  width: 72px;
  height: 16px;
  position: relative;
}

.attribution {
  visibility: hidden;
}

@media (min-width: 48em) {
  .footer {
    font-size: 1.5rem;
  }
  .imageContainer {
    transform: translateY(0.75rem);
    width: 100px;
    height: 22.25px;
  }
}
