.footer {
  text-align: center;
}

.imageContainer {
  transform: translateY(0.25rem);
  display: inline-block;
  width: 72px;
  height: 16px;
  position: relative;
}

.span {
  color: inherit;
  text-decoration: none;
}

.attribution {
  visibility: hidden;
}

@media (min-width: 48em) {
  .footer {
    font-size: 1.5rem;
  }
  .imageContainer {
    transform: translateY(0.75rem);
    width: 100px;
    height: 22.25px;
  }
}

@media (min-width: 75em) {
  .footer {
    margin: 0rem 2.25rem 0 9.75rem;
  }
}
@media (min-width: 96em) {
  .footer {
    margin: 0rem 2.25rem 0 11rem;
  }
}
