@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.detailsContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 1rem);
  padding: 0 0 1.25rem 2.5rem;
  @include mobileS() {
    padding: 0 0 1rem 2.25rem;
  }
  @include tablet() {
    width: calc(100% - 1.75rem);
    padding: 0 0 1.5rem 3.5rem;
  }
}

.title {
  margin: 0;
  position: relative;
  bottom: -1.25rem;
  font-size: $heading-s-m;
  font-weight: $fw-med;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include mobileS() {
    font-size: $heading-xs-m;
  }
  @include tablet() {
    font-size: $heading-s;
  }
}

.details {
  font-size: $body-m-m;
  font-weight: $fw-light;
  text-transform: capitalize;
  position: relative;
  bottom: 1.75rem;
  @include mobileS() {
    font-size: $body-s-m;
  }
  @include tablet() {
    bottom: 2.5rem;
  }
}

.iconMovies {
  transform: translateY(20%);
  width: 15px;
  height: 15px;
  margin-right: 0.25rem;
  @include tablet() {
    transform: translateY(15%);
  }
}

.iconSeries {
  transform: translateY(10%);
  width: 15px;
  height: 15px;
  margin-right: 0.25rem;
  @include tablet() {
    transform: translateY(5%);
  }
}
