.detailsContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 1rem);
  padding: 0 0 1.25rem 2.5rem;
}

.title {
  margin: 0;
  position: relative;
  bottom: -1.25rem;
  font-size: var(--heading-s);
  font-weight: var(--fw-med);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  font-size: var(--body-m);
  font-weight: var(--fw-light);
  text-transform: capitalize;
  position: relative;
  bottom: 1.75rem;
}

.iconMovies {
  transform: translateY(20%);
  width: 15px;
  height: 15px;
  margin-right: 0.25rem;
}

.iconSeries {
  transform: translateY(10%);
  width: 15px;
  height: 15px;
  margin-right: 0.25rem;
}

@media (max-width: 20em) {
  .title {
    font-size: var(--heading-xs);
  }

  .details {
    font-size: var(--body-s);
  }

  .detailsContainer {
    padding: 0 0 1rem 2.25rem;
  }
}

@media (min-width: 48em) {
  .detailsContainer {
    width: calc(100% - 1.75rem);
    padding: 0 0 1.5rem 3.5rem;
  }

  .details {
    bottom: 2.5rem;
  }

  .iconMovies {
    transform: translateY(15%);
  }

  .iconSeries {
    transform: translateY(5%);
  }
}
