@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  @include center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
  font-size: $heading-s;
  font-weight: $fw-med;
  @include tablet {
    font-size: $heading-s;
    margin-top: 2rem;
  }
}

.span {
  font-size: inherit;
  font-weight: inherit;
}
