@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  @include center;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
  font-size: $heading-s;
}

.span {
  font-size: inherit;
  font-weight: inherit;
}
