@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: $rating;
  @include tablet() {
    justify-content: flex-start;
  }
}

.stars {
  transform: translateY(0.1rem);
}
