.heading {
  width: 90%;
  margin: 1.25rem auto 0;
  font-size: var(--heading-xs);
  font-weight: var(--fw-light);
}

.heading {
  text-transform: capitalize;
}

.outerContainer {
  position: relative;
  margin-left: -1.5rem;
}

.recommendations {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  width: 90%;
  margin: 1.25rem auto 2rem;
  scrollbar-width: none;
  padding: 0;
}

.recommendations::-webkit-scrollbar {
  display: none;
}

.recommendations::-webkit-scrollbar-thumb {
  display: none;
}

.linkContainer {
  position: relative;
  margin-left: 1.5rem;
  min-width: 130px;
  max-width: 130px;
  height: 227px;
  overflow: hidden;
  list-style: none;
}

@media (hover: hover) {
  .linkContainer:hover {
    opacity: 0.7;
    transition: var(--transition);
  }
}
.name {
  font-size: var(--heading-xs);
  font-weight: var(--fw-light);
  max-width: 95%;
  margin: 0;
}

.navigation {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  transform: translateY(-50%);
  margin: auto;
  height: 35px;
  width: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  animation: fadeArrow var(--fade-arrow);
}

.navigationPrev {
  left: 0;
}
.navigationNext {
  right: 0;
}

@media (min-width: 30em) {
  .navigation {
    position: absolute;
    top: -1.75rem;
    right: 0;
    bottom: unset;
    transform: translateY(-50%);
    display: block;
  }

  .navigationPrev {
    left: unset;
    margin-right: 1.75rem;
    right: 1.5rem;
  }
  .navigationNext {
    right: 1.5rem;
  }
}

@media (min-width: 48em) {
  .container {
    margin: 2rem auto 0;
    border-top: 2px solid var(--semi-dark-blue);
    width: 93.75%;
    z-index: 10;
  }
  .heading {
    margin: 1.65rem 0 2rem;
  }
  .recommendations {
    margin-top: 2.5rem;
    width: 100%;
  }

  .linkContainer {
    min-width: 160px;
    max-width: 160px;
    height: 282px;
  }

  .name {
    font-size: 0.935rem;
    max-width: 100%;
  }

  .message {
    width: 100%;
    font-size: 1rem;
  }

  .navigation {
    top: -3rem;
  }

  .navigationPrev {
    right: 0;
  }
  .navigationNext {
    right: 0;
  }
}

@media (min-width: 75em) {
  .container {
    border-top: unset;
    margin: 0;
    width: 100%;
    position: relative;
  }

  .heading {
    margin: 0 2.25rem 2rem 11rem;
    text-transform: capitalize;
    padding: 0;
    width: unset;
  }

  .outerContainer {
    margin: 0 2.25rem 2rem 9.5rem;
    width: unset;
  }

  .message {
    padding: unset;
  }
}

@keyframes fadeArrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
