@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.descriptionWrapper {
  @include mixins.center;
  margin-bottom: 2rem;
  color: variable.$slate;
}

.description {
  max-width: 650px;
}
