@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.descriptionWrapper {
  @include mixins.center;
  margin-bottom: 2rem;
  color: var(--tertiary-light);
  letter-spacing: variable.$ls-s;
}

.description {
  max-width: 650px;
}
