.overview {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 25px;
}

.posterContainer {
  display: none;
}

@media (min-width: 48em) {
  .posterContainer {
    display: block;
    position: relative;
    min-width: 170px;
    max-height: 250px;
  }

  .poster {
    border-radius: 8px;
  }

  .list,
  .attributesList {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }

  .attributesList {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .listItem {
    list-style: none;
    width: 160px;
  }

  .name {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .value {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    align-items: flex-start;
  }

  .genre {
    margin-bottom: 0.5rem;
    background-color: var(--Greyish-blue);
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
  }
}
