.container {
  display: none;
}

@media (min-width: 48em) {
  .container {
    display: block;
    width: 93.75%;
    margin: 1rem auto 3rem;
  }

  .tabs {
    border-bottom: var(--input-active);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1.5rem;
  }

  .detailsContainer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
}

@media (min-width: 75em) {
  .container {
    margin: 0 2.25rem 3rem 11rem;
    width: unset;
    position: relative;
    z-index: 5;
  }

  .tabs {
    gap: 2.5rem;
  }
}
