.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--Dark-blue);
  z-index: 5;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  animation: enter 250ms ease forwards;
}

.listItem,
.listItemCurrent {
  list-style: none;
  padding: 1rem 2rem;
}

.listItemCurrent {
  position: relative;
}

.listItemCurrent::before {
  content: "";
  background: var(--Pure-white);
  width: 0.5px;
  height: 10px;
  border: 1px solid var(--Pure-white);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  left: 2rem;
  top: 1.25rem;
}

.link {
  padding-left: 1.5rem;
}

@media (hover: hover) {
  .listItem:hover,
  .listItemCurrent:hover {
    background: var(--Greyish-blue);
    transition: all 0.2s;
  }
}

@media (min-width: 48em) {
  .listContainer {
    display: unset;
  }
  .list {
    background: var(--Semi-dark-blue);
    border-radius: 5px;
    border: 1px solid var(--Greyish-blue);
    position: absolute;
    top: 16.5rem;
    left: 8.5rem;
    z-index: 5;
    padding: 1rem 0;
    max-width: 200px;
    max-height: 375px;
    overflow-y: scroll;
    animation: unset;
    display: unset;
    justify-content: unset;
  }

  .listItem,
  .listItemCurrent {
    padding: 0.5rem 0;
  }

  .listItemCurrent::before {
    left: 0.75rem;
    top: 0.75rem;
  }

  .link {
    padding-left: 1.5rem;
  }
}

@media (min-width: 75em) {
  .list {
    top: 12.5rem;
    left: 18rem;
  }
}

@keyframes enter {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0vh);
  }
}
