.dropdown {
  position: absolute;
  top: 2.5rem;
  left: 4.5rem;
  font-size: 0.9375rem;
}

.buttonContainer {
  position: relative;
}

.button {
  background: var(--Greyish-blue);
  color: var(--Pure-white);
  padding: 0.5em 2.5em 0.5em 1.25em;
  border-radius: 20px;
  border: 1px solid var(--Greyish-blue);
  text-transform: capitalize;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

.button:focus,
.button:hover {
  background: var(--Semi-dark-blue);
}

.chevron {
  position: absolute;
  right: 0.75rem;
  top: 0.9rem;
}

.list {
  background: var(--Semi-dark-blue);
  border-radius: 5px;
  border: 1px solid var(--Greyish-blue);
  position: absolute;
  z-index: 5;
  padding: 1rem 1rem;
  min-width: 175px;
  max-height: 325px;
  overflow-y: scroll;
  /* display: none; */
}

.listItem {
  list-style: none;
  padding: 0.5rem 0;
}

@media (min-width: 48em) {
  .dropdown {
    top: 5rem;
    left: 7.5rem;
    font-size: 1rem;
  }
  .chevron {
    top: 1rem;
    right: 1rem;
  }

  .list {
    min-width: 175px;
    max-height: 375px;
  }
}
