@media (min-width: 48em) {
  .tabContainer {
    display: inline-block;
    position: relative;
  }

  .tab {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .tab:hover {
    color: var(--Red);
    transition: all 200ms;
  }

  .tab.active {
    color: var(--Red);
    transition: all 200ms;
  }

  .tab::after {
    content: "";
    background: var(--Red);
    opacity: 0;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -2.0625rem;
    transition: opacity 200ms ease-in;
  }

  .tab.active::after {
    opacity: 1;
  }

  .tabSuggested {
    display: none;
  }
}

@media (min-width: 64em) {
  .tabSuggested {
    display: inline-block;
  }
}
