.container {
  z-index: 5;
  position: absolute;
  top: 12rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.list {
  display: flex;
  padding-left: 0;
  align-items: center;
}

.list li {
  list-style: none;
  margin-right: 1rem;
  font-weight: 500;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-weight: 500;
}

.tagline {
  opacity: 0.7;
  font-style: italic;
  margin-top: 0.5rem;
  display: none;
}

.ageRating {
  border: 1px solid var(--Pure-white);
  padding: 0.15rem 0.5rem;
}

.runtime {
  display: none;
}

.displayRuntime {
  display: inline-block;
}

.overview {
  line-height: 25px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Semi-dark-blue);
}

.posterContainer {
  min-width: 190px;
  min-height: 250px;
  position: relative;
  display: none;
}

.poster {
  border-radius: 5px;
}

@media (min-width: 30em) {
  .container {
    top: 15rem;
  }

  .tagline {
    display: block;
  }

  .runtime {
    display: inline-block;
  }
}

@media (min-width: 48em) {
  .tagline {
    font-size: 1.25rem;
  }

  .list {
    font-size: 1.25rem;
  }

  .overview {
    font-size: 1.25rem;
    line-height: 30px;
  }
}

@media (min-width: 64em) {
  .container {
    margin: 4.15rem 2.25rem 0 11rem;
    width: unset;
  }

  .content {
    margin: 0;
  }
}

@media (min-width: 75em) {
  .overview {
    width: 90%;
    padding-bottom: unset;
    border-bottom: unset;
    font-size: 1rem;
  }

  .posterContainer {
    display: block;
  }
}

@media (min-width: 90em) {
  .container {
    top: 25rem;
  }

  .posterContainer {
    min-width: 220px;
    min-height: 270px;
  }

  .overview {
    font-size: 1.25rem;
  }
}
