.container {
  z-index: 5;
  position: absolute;
  left: 1.25rem;
  bottom: 2.5rem;
  margin-right: 2rem;
}

.list {
  display: none;
  padding-left: 0;
  align-items: center;
}

.list li {
  list-style: none;
  margin-right: 1rem;
  font-weight: 500;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}

.tagline {
  opacity: 0.7;
  font-style: italic;
  margin-top: 0.5rem;
}

.ageRating {
  border: 1px solid var(--Pure-white);
  padding: 0.15rem 0.5rem;
}

.runtime {
  display: none;
}

.displayRuntime {
  display: inline-block;
}

.overview {
  line-height: 25px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Semi-dark-blue);
  display: none;
}

.posterContainer {
  display: none;
}

@media (min-width: 30em) {
  .tagline {
    display: block;
  }

  .runtime {
    display: inline-block;
  }
}

@media (min-width: 48em) {
  .container {
    width: 93.75%;
    margin: 0 auto 0 1.65rem;
    left: 0;
  }

  .title {
    font-size: 2rem;
  }
  .tagline {
    font-size: 1.25rem;
  }

  .list {
    font-size: 1.25rem;
    display: flex;
  }

  .overview {
    font-size: 1.25rem;
    line-height: 30px;
  }
}

@media (min-width: 64em) {
  .container {
    margin: 0rem 2.25rem 0 9.75rem;
    width: unset;
    bottom: 8rem;
  }

  .content {
    margin: 0;
  }
}

@media (min-width: 75em) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    bottom: 6rem;
    margin: 0rem 2.25rem 0 11rem;
  }
  .overview {
    width: 90%;
    padding-bottom: unset;
    border-bottom: unset;
    font-size: 1rem;
    display: block;
  }

  .posterContainer {
    display: block;
    position: relative;
    min-width: 170px;
    min-height: 230px;
  }
}

@media (min-width: 90em) {
  .container {
    bottom: 2rem;
  }

  .posterContainer {
    min-width: 200px;
    min-height: 300px;
  }

  .overview {
    font-size: 1.25rem;
  }
}
