@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.headingMethod {
  font-size: $heading-xs-m;
  @include tablet() {
    font-size: $heading-xs;
  }
}

.container.active {
  animation: fade $fade-animation;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  width: 100%;
}

.provider {
  display: flex;
  gap: 0.5rem;
  font-size: $body-m;
  align-items: center;
  background-color: $primary-dark;
  padding: 0.5em 0.5em;
  border-radius: $border-radius-s;
  min-width: 100%;
}

.providerDetails {
  @include flex-column;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subscription {
  color: $slate;
}

.iconWrapper {
  border-radius: $border-radius-s;
  display: inline-block;
  position: relative;
  min-width: 35px;
  min-height: 35px;
}

.icon {
  object-fit: contain;
  border-radius: $border-radius-s;
}

.name {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
}

.placeholder {
  font-size: $body-m;
  color: $slate;
  @include tablet {
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
