:root {
  --Dark-blue: hsl(223, 30%, 9%);
  --Red: hsl(0, 97%, 63%);
  --Greyish-blue: hsl(223, 23%, 46%);
  --Semi-dark-blue: hsl(223, 36%, 14%);
  --Pure-white: hsl(0, 0%, 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: var(--Dark-blue);
  color: var(--Pure-white);
  font-weight: 300;
}

main {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: capitalize;
  display: inline-block;
}

@media (min-width: 48em) {
  body {
    font-size: 1rem;
  }
  main {
    width: 93.75%;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 75em) {
  main {
    margin: 4.25rem 2.25rem 0 11rem;
    width: unset;
  }
}
