:root {
  --dark-blue: hsl(223, 30%, 9%);
  --greyish-blue: hsl(223, 23%, 46%);
  --pure-white: hsl(0, 0%, 100%);
  --red: hsl(0, 97%, 63%);
  --semi-dark-blue: hsl(223, 36%, 14%);
  --gold: hsl(50, 100%, 50%);

  --border-radius-l: 20px;
  --border-radius-s: 8px;

  --card-hover: 0.6;

  --input-active: 1px solid var(--greyish-blue);

  --fade-animation: 250ms ease-in;
  --fade-arrow: 100ms ease-in
  --transition: all 200ms ease-in;

  --fw-light: 300;
  --fw-med: 500;

  --body-l: 0.9375rem;
  --body-m: 0.75rem;
  --body-s: 0.6875rem;
  --heading-l: 1.25rem;
  --heading-m: 1rem;
  --heading-s: 0.9375rem;
  --heading-xs: 0.875rem;
}

@media (min-width: 48em) {
  :root {
    --body-l: 1rem;
    --body-m: 0.9375rem;
    --body-s: 0.8125rem;
    --heading-l: 2rem;
    --heading-m: 1.5rem;
    --heading-s: 1.5rem;
    --heading-xs: 1.125rem;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: var(--dark-blue);
  color: var(--pure-white);
  font-weight: var(--fw-light);
}

main {
  width: 90%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  text-transform: capitalize;
  display: inline-block;
}

hr {
  border: 0.5px solid var(--semi-dark-blue);
  margin: 0 0 2rem;
}

.no-scroll {
  overflow: hidden;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--red);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

/* Safari 15+ displays a gray border while loading. Solution at https://nextjs.org/docs/api-reference/next/future/image */

@media not all and (min-resolution: 0.001dpcm) {
  img[loading="lazy"] {
    clip-path: inset(0.5px);
  }
}

@media (min-width: 48em) {
  main {
    width: 93.75%;
  }

  hr {
    display: none;
  }

  .no-scroll {
    overflow: visible;
  }
}

@media (min-width: 75em) {
  main {
    margin: 4rem 2.25rem 0 11rem;
    width: unset;
  }
}
