@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.nav {
  @include mixins.center;
  margin-bottom: 0.75rem;

  @include mixins.tablet {
    margin-bottom: 1.5rem;
  }
}

.navList {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  margin-left: -0.5rem;

  @include mixins.laptop {
    margin-left: 6.9rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.navListItem {
  list-style: none;
  margin-right: 1rem;
  font-size: variable.$heading-xs-m;
  font-weight: variable.$fw-med;
  letter-spacing: variable.$ls;
  white-space: nowrap;
  padding: 0.5rem;
  border-radius: variable.$border-radius-s;

  @include mixins.tablet {
    font-size: variable.$heading-xs;
  }
}

@media (hover: hover) {
  .navListItem:hover {
    background-color: variable.$tertiary;
    transition: variable.$transition;
    color: variable.$primary;
    padding: 0.5rem;
  }
}

.separator {
  margin: 0 1.5rem 0 0.5rem;
  font-size: 18px;
}
