@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.nav {
  width: 90%;
}

.navList {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  margin-left: -0.75rem;

  @include mixins.tabletL {
    margin-left: unset;
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.navListItem {
  list-style: none;
  font-size: variable.$heading-xs;
  font-weight: variable.$fw-med;
  letter-spacing: variable.$ls;
  white-space: nowrap;
  padding: 0.5em 0.75em;
  border-radius: variable.$border-radius-s;

  &:last-of-type {
    margin-left: 1rem;
  }
}

@media (hover: hover) {
  .navListItem:hover {
    background-color: var(--tertiary);
    transition: variable.$transition;
    color: var(--primary-light);
  }
}
