@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.nav {
  @include mixins.center;
  margin-bottom: 0.75rem;

  @include mixins.tablet {
    margin-bottom: 1.5rem;
  }
}

.navList {
  display: flex;
  @include mixins.laptop {
    margin-left: 9.25rem;
  }
}

.navListItem {
  list-style: none;
  margin-right: 1rem;
  font-size: variable.$heading-m-m;
  font-weight: variable.$fw-med;
  letter-spacing: variable.$ls;
  @include mixins.tablet {
    font-size: variable.$heading-xs;
  }
}

.separator {
  margin: 0 1.5rem 0 0.5rem;
  font-size: 18px;
}
