.container {
  margin: 0 auto 2rem;
  /* padding-bottom: 2rem; */
  width: 90%;
}

.ageRating {
  margin-right: 1rem;
  font-weight: 500;
  border: 1px solid var(--Pure-white);
  padding: 0.15rem 0.5rem;
}

.date {
  font-weight: 500;
}

.overview {
  line-height: 25px;
}

.ratingContainer {
  margin-bottom: 2rem;
}

.readMoreToggle {
  background: transparent;
  color: var(--Red);
  border: none;
  text-transform: capitalize;
  font-size: inherit;
  padding: 0;
}

@media (max-width: 23em) {
  .container {
    width: 95%;
  }
}

@media (max-width: 21.625em) {
  .container {
    width: 87.5%;
  }
}

@media (min-width: 48em) {
  .container {
    display: none;
  }

  .ratingContainer {
    display: none;
  }
}
