.header {
  width: 100%;
  background-color: var(--semi-dark-blue);
}

.nav {
  background: var(--semi-dark-blue);
  width: 90%;
  margin: 0 auto;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.navLinksContainer {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 24px;
  height: 24px;
  border: 1px solid var(--pure-white);
  border-radius: 50%;
}

@media (min-width: 48em) {
  .header {
    background-color: transparent;
  }
  .nav {
    height: 72px;
    padding: 0 1.5rem;
    width: 93.75%;
    margin: 1.5rem auto 0;
    border-radius: 10px;
  }
  .logo {
    width: 32px;
    height: 25.6px;
  }

  .navLinksContainer {
    gap: 2rem;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 75em) {
  .nav {
    padding: 2rem 0;
    width: 96px;
    height: 90vh;
    flex-direction: column;
    position: fixed;
    top: 1rem;
    left: 2rem;
    border-radius: var(--border-radius-l);
  }

  .navLinksContainer {
    height: 200px;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5rem;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 75em) {
  .nav {
    width: 96px;
  }
}
