@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.stat {
  margin-right: 0.5rem;
  background: $primary-dark;
  padding: 0.25em 0.75em;
  border: 1px solid $primary-dark;
  border-radius: $border-radius-l;
  white-space: nowrap;
  color: $primary;
  font-size: $body-m;
  font-weight: $fw-med;
}
