@use "@/styles/variables" as variable;
@use "@/styles/mixins" as mixins;

.section {
  @include mixins.flex-center;
  flex-direction: column;
  background: linear-gradient(90deg, var(--quaternary-gradient));
  min-height: 350px;
  gap: 1rem;
  text-align: center;
}

.headingWrapper {
  max-width: 450px;
  @include mixins.flex-center;
  width: 90%;
}
