.list {
  background: var(--Semi-dark-blue);
  border-radius: 5px;
  border: 1px solid var(--Greyish-blue);
  position: absolute;
  z-index: 5;
  padding: 1rem 1.5rem;
  min-width: 150px;
}

.listItem {
  list-style: none;
  padding: 0.25rem 0;
}
